[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mahmoudbarake95
[access "refs/for/refs/*"]
	read = group user/mahmoudbarake95
	push = group user/mahmoudbarake95
	label-Code-Review = -2..+2 group user/mahmoudbarake95
	label-Verified = -1..+1 group user/mahmoudbarake95
	rebase = group user/mahmoudbarake95
	removeReviewer = group user/mahmoudbarake95
	submit = group user/mahmoudbarake95
[access "refs/heads/*"]
	read = group user/mahmoudbarake95
	create = group user/mahmoudbarake95
	push = +force group user/mahmoudbarake95
	pushMerge = group user/mahmoudbarake95
[access "refs/tags/*"]
	push = group user/mahmoudbarake95
	push = +force group user/mahmoudbarake95
