[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mahmoud Barake (mahmoudbarake95)
[access "refs/for/refs/*"]
	read = group user/Mahmoud Barake (mahmoudbarake95)
	push = group user/Mahmoud Barake (mahmoudbarake95)
	label-Code-Review = -2..+2 group user/Mahmoud Barake (mahmoudbarake95)
	label-Verified = -1..+1 group user/Mahmoud Barake (mahmoudbarake95)
	rebase = group user/Mahmoud Barake (mahmoudbarake95)
	removeReviewer = group user/Mahmoud Barake (mahmoudbarake95)
	submit = group user/Mahmoud Barake (mahmoudbarake95)
[access "refs/heads/*"]
	read = group user/Mahmoud Barake (mahmoudbarake95)
	create = group user/Mahmoud Barake (mahmoudbarake95)
	push = +force group user/Mahmoud Barake (mahmoudbarake95)
	pushMerge = group user/Mahmoud Barake (mahmoudbarake95)
[access "refs/tags/*"]
	push = group user/Mahmoud Barake (mahmoudbarake95)
	push = +force group user/Mahmoud Barake (mahmoudbarake95)
[receive]
	requireChangeId = true
